@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,body {
    padding:0;
    margin:0;
}


.contenedorBase{
    display: flex;
    height: 100vh;
}

.contenedor1{
    width: 60%;
    background-image: url('https://images.unsplash.com/photo-1501290741922-b56c0d0884af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80');
    background-size: cover;
}

.texto-principal{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.contenedor2{
    margin-top: 4%;
    margin-bottom: 4%;
    padding-left: 7%;
    padding-right: 2%;
    width: 40%;
}

.contenedorRegistro{
    border-radius: 15px;
    text-align: center;
    width: 80%;
    height: auto;
    padding: 6%;
    background-image: linear-gradient(to right, #4f65e063, #4f65e06e), 
  url("../../assets/img/patron2.png");
    border: 1px solid #000;
    box-shadow: rgba(0, 0, 0, 0.772) 10px 10px;
}

.contenedor-formulario{
    width: 100%;
    height: auto;
}

.imgRegistro{
    height: 80%;
    width: 80%;
    object-fit: cover;
}

.btn-sub{
    background-color: crimson;
    border-radius: 5px;
    box-shadow: rgba(171, 113, 113, 0.4) 5px 5px;
    border-color: crimson;
}