.listado {
    background-color: #fafafa;
}

.encabezado-lista {
    background-color: #ffc478e3;
    font-size: 16px;
}

.boton-lista-solicitud{
    margin: 20px 6px;
}

.encabezado-lista-aprobados {
    background-color: #78a7ffb3;
    font-size: 16px;
}

.encabezado-lista-denegados {
    background-color: #ff7878a8;
    font-size: 16px;
}

.button-historial {
    background-color: #1fbbbb;
    border-color: #1fbbbb;
}

.button-historial:hover {
    background-color: #45D3D3;
    border-color: #45D3D3;
}

.button-registro{
    background-color: violet;
    border-color: violet
}

.button-registro:hover{
    background-color: rgb(255, 141, 255);
    border-color: rgb(255, 136, 255);
}

.button-carpeta{
    background-color: rgb(122, 182, 33);
    border-color: rgb(122, 182, 33);
}

.button-carpeta:hover{
    background-color: rgb(159, 249, 24);
    border-color: rgb(159, 249, 24);
}