.list {
    background-color: #fafafa;
}

.header-list {
    background-color: #ffc478e3;
    font-size: 16px;
}

.button-list-request{
    margin: 20px 6px;
}

.approved-list-header {
    background-color: #78a7ffb3;
    font-size: 16px;
}

.deny-list-header {
    background-color: #ff7878a8;
    font-size: 16px;
}

.button-history {
    background-color: #1fbbbb;
    border-color: #1fbbbb;
}

.button-history:hover {
    background-color: #45D3D3;
    border-color: #45D3D3;
}

.button-register{
    background-color: rgb(228, 121, 180);
    border-color: rgb(228, 121, 180);
}

.button-register:hover{
    background-color: rgb(231, 140, 190);
    border-color: rgb(231, 140, 190);
}

.button-folder{
    background-color: #5DC460;
    border-color: #5DC460;
}

.button-folder:hover{
    background-color: #75d375;
    border-color: #75d375;
}

.button-confirm-register{
    background-color: #5DC460;
    border-color: #5DC460;
}

.button-confirm-register:hover{
    background-color: #75d375;
    border-color: #75d375;
}